services:
  postgres:
    image: postgres:17-alpine
    container_name: my_postgres
    environment:
      POSTGRES_DB: meeting_room
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
